.header {
  margin-top: 20px;
  float: left;
  position: sticky;
  z-index: 99;
  width: 100%;
  top: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);

  &__navigation {
    background-color: $sec-color;

    &-list {
      display: none;
    }
  }

  &__wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
  }
}

.logo {
  &__link {
    @include font($main-font, 22px, 600, 1.2);
    color: $main-color;
  }
}

@media (min-width: 768px) {
  .header {
    margin-top: 30px;

    &__navigation {
      &-icon {
        display: none;
      }
      
      &-list {
        display: flex;
      }
      
      &-item:not(:last-child) {
        margin-right: 40px;
      }
      
      &-link:hover {
        color: rgb(40, 37, 40);
      }
      
      &-link {
        @include font($sec-font, 12px, 700, 36px);
        display: block;
        color: rgba(40, 37, 40, 0.6);
        text-transform: uppercase;
        transition: all 0.2s linear;
      }
    }
  }
}

.logo {
  &__link {
    font-size: 30px;
  }
}