.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 700;
  color: $main-color;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 28px;
  }
}