.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $main-font;
  font-size: 18px;
  font-weight: 700;
  color: $main-color;
  text-transform: uppercase;

  &::before,
  &::after {
    display: block;
    content: "";
    background-color: rgba(83, 91, 100, 0.4);
    width: 60px;
    height: 1px;
  }

  &::before {
    margin-right: 12px;
  }

  &::after {
    margin-left: 12px;
  }
}